@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "sans-serif";
  max-width: 1400px;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 20px;
  margin-block: 0.5rem;
}
/* article span {
  font-size: 30px;
} */
.hero h1 {
  padding-block: 1rem;
}
.hero p {
  padding-block: 1rem;
}
main {
  /* width: 80%;
  display: flex;
  justify-content: center; */
}
nav {
  max-width: 1400px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.navContainer {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffc017;
  padding-block: 1rem;
  padding-inline: 6rem;
  border-bottom: 1px solid black;
}
.btnContainer button {
  border: none;
  background-color: #ffc017;
}

.hero {
  background-color: #ffc017;
  padding-left: 6rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.hero button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-inline: 1.5rem;
}
button {
  cursor: pointer;
}
#getButton {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
}
.svgContainer {
  width: 30rem;
  height: 20rem;
  background-color: #ffc017;
}
.heroContainer {
  padding-top: 64px;

  display: flex;
  justify-content: space-between;
}
.trendingContainer {
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
}

.mediumContainer {
  width: 87%;
  margin-bottom: 4rem;
}
article {
  display: flex;
  width: 30%;
}
h4 img {
  border-radius: 50%;
}
h4 {
  font-size: 15px;
}
.hero h1 {
  font-family: "spectral", "Serif";
}
.articleTranding p {
  color: lightgrey;
}

.title {
  margin-bottom: 1rem;
}
.number {
  color: lightgrey;
  font-size: 30px;
  margin-right: 1rem;
}
#secondSection {
  width: 90%;
  display: flex;
  justify-content: center;
}
.aticleSection2 {
  display: flex;

  justify-content: space-between;
}

.articleImg {
  width: 200px;
}
.articleLogo {
  border-radius: 50%;
}
.container2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.secondSectionArticle {
  width: 100%;
  margin-block: 1.5rem;
}

.articleContainer2 p {
  color: #757575;
  margin-block: 0.5rem;
}
.articleContainer2 span {
  background-color: #f1f3f3;
  border-radius: 10px;
  padding-inline: 10px;
}
.articleContainer2 h3 {
  font-size: 16px;
}
.author {
  display: flex;
  align-items: center;
}
.author h3,
h4 {
  margin-left: 1rem;
}

.articleContainer2 h2 {
  margin-block: 0.5rem;
}
.discover {
  width: 100%;
  margin-inline: 3rem;
  border-bottom: 1px solid black;
}
aside {
  display: flex;
  justify-content: center;
  width: 35%;
}
.asideContainer button {
  background-color: transparent;
  padding: 0.5rem;
  margin-block: 0.5rem;
}
/* .asideContainer {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
aside {
  width: 30%;
} */
